body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: linear-gradient(
      to left,
      rgba(136, 74, 57) 0%,
      rgba(195, 129, 84)100%
    );
    text-align: center;
  }
  
  .home-title {
    margin-top: 75px;
    margin-bottom: 50px;
    font-size: 76px;
    color: #FFC26F;
    font-family: "Bigelow Rules";
  }
  
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navBar a {
    text-decoration: none;
    color: #333;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
  }
  
  .navBar a:hover {
    background-color: #f00000;
  }
  
  .Filter {
    margin-top: 20px;
  }
  
  .Filter label {
    margin-right: 10px;
  }
  
  .paginado {
    margin-top: 20px;
  }
  
  .paginado button {
    border-radius: 10px;
    margin-right: 10px;
    padding: 5px 10px;
  }



  .Filter {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .filterLabel {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .filterSelect {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }




 